# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# Change this config
# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

# The Heroes of the storm install location
HEROES_OF_THE_STORM_INSTALL_LOCATION="C:/Program Files/Heroes of the Storm"

# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# Optional to change depends on your need
# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

# Whether to use the online data when extracting game files (will not extract from HEROES_OF_THE_STORM_INSTALL_LOCATION)
TOOLS_USE_CASC_ONLINE_MODE=false

# Whether to cache the online data files
TOOLS_KEEP_CASC_ONLINE_MODE_CACHE=true

# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# It is highly suggested to keep the config under as is.
# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

# GameData XML location
TOOLS_XML_MAIN_XML_PATH="./(10)trymemode.stormmap/base.stormdata/GameData.xml"

# Mimic abilities XML generation file
TOOLS_MIMC_ABILITY_XML_GENERATION_LOCATION="./(10)trymemode.stormmap/base.stormdata/Mods/GameData/HeroesMod/AbilityMimic.xml"

# Mimic behaviour XML generation file
TOOLS_MIMC_BEHAVIOR_XML_GENERATION_LOCATION="./(10)trymemode.stormmap/base.stormdata/Mods/GameData/HeroesMod/BehaviorMimic.xml"

# Mimic models XML generation file
TOOLS_MIMC_MODEL_XML_GENERATION_LOCATION="./(10)trymemode.stormmap/base.stormdata/Mods/GameData/HeroesMod/ModelMimic.xml"

# Mimic Galaxy file
TOOLS_MIMIC_LIBRARY_SAVE_LOCATION="./(10)trymemode.stormmap/base.stormdata/ModuleMimicLibs/InternalMimics"

# Patched galaxy file prefix
TOOLS_MIMIC_LIBRARY_IMPORT_PREFIX="ModuleMimicLibs/InternalMimics/"

# XML Mods Directory
TOOLS_XML_MODS_DIR="./(10)trymemode.stormmap/base.stormdata/Mods"

# base.gamedata Directory
TOOLS_GAMEDATA_DIR="./(10)trymemode.stormmap/base.stormdata"

# S2MA Save location
TOOLS_S2MA_SAVE_LOCATION="./s2ma"

# Try Mode 2.0 Modules location
TOOLS_UPDATE_LIBRARY_LIBRARIES_LOCATION="./(10)trymemode.stormmap/base.stormdata/Modules"