{
    "extends": [
      "airbnb-base"
    ],
    "rules": {
      "indent": 2,      
      "max-len": [
        "error",
        {
          "code": 100,
          "ignoreComments": true
        }
      ],
      "no-console": "off",
      "no-plusplus": [
        "error",
        {
          "allowForLoopAfterthoughts": true
        }
      ],
      "require-jsdoc": [
        "warn",
        {
          "require": {
            "FunctionDeclaration": true,
            "MethodDefinition": true,
            "ClassDeclaration": true
          }
        }
      ]
    }
  }
